.product img {
    max-width: 100%;
    height: auto;
}

.sort-filter {
    margin-bottom: 20px;
}

.product {
    margin-bottom: 20px;
}

/* Ensure products display three in one row */
@media (min-width: 768px) {
    #productList .product {
        flex-basis: calc(33.33% - 20px); /* Subtracting margin */
        max-width: calc(33.33% - 20px); /* Subtracting margin */
    }
}

/* Align subcategories to the left */
.subcategories {
    text-align: left;
    margin-top: 20px;
}

.subcategory-link:hover {
    text-decoration: underline;
}
